.post-images {
	width: 15vw;
	border-radius: 10px;
	object-fit: contain;
}

.post-container {
	height: 250px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: auto;
	padding: auto;
	margin-top: auto;
	margin-left: 2rem;
	padding-bottom: 15px;
	margin-bottom: 15px;
}

.post-container p {
	margin-bottom: 0;
	padding-bottom: 0;
}

.post-text-container {
	display: flex;
	flex-direction: column;
	margin-left: 2rem;
}

.post-text-title {
	font-size: medium;
	font-weight: bold;
}

@media screen and (max-width: 1000px) {
	.post-images {
		display: none;
	}
	.post-container {
		margin-top: rem;
	}
}

@media screen and (max-width: 800px) {
	.post-container {
		height: 50%;
	}
	.post-images {
		display: none;
	}

	.post-text-container {
		margin-left: 0;
	}
}
