.images {
	width: 25%;
	height: 25%;
}

.post-container {
	height: 230px;
	width: 150px;
	display: flex;
	flex-direction: column;
}

.post-container p {
	margin-bottom: 0;
	padding-bottom: 0;
	overflow: hidden;
	text-overflow: ellipsis;
}
