.posts-container {
	display: flex;
	flex-direction: row;
}

.posts-filterbar {
	width: 25vw;
	text-transform: capitalize;
	border-style: solid;
	border-top: 0;
	border-left: 0;
	border-bottom: 0;
	border-color: rgba(0, 0, 0, 0.25);
}

.posts-input {
	display: flex;
}

@media screen and (max-width: 800px) {
	.posts-container {
		flex-direction: column;
	}

	.posts-filterbar {
		border-style: none;
		width: auto;
	}

	.posts-form {
		flex-direction: row;
	}

	.posts-form span {
		display: none;
	}

	.posts-input {
		display: inline;
	}
}
